<div>
 <div class="large-container">
  <div class="footer">
   <div class="w-layout-grid grid">
    <div id="w-node-c126c97c0bd1-f74192ac" class="div-block-11">
     <ul class="list-2 w-list-unstyled">
      <li class="list-item-2">© 2020 Melville Technologies Inc</li>
     </ul>
    </div>
    <div class="div-block-10">
     <div>
      <ul class="list-2 w-list-unstyled">
       <li class="list-item-2">Contact Us</li>
       <li class="list-item-3"><a href="mailto:ryan@melville.app">ryan@melville.app</a></li>
      </ul>
     </div>
    </div>
    <div class="div-block-12">
     <ul class="list-2 w-list-unstyled">
       <li class="list-item-5"><a href="terms">Terms & Privacy</a></li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>