<div class="header-nav"><a href="https://www.melville.app" class="link-block w-inline-block"><img
   src="images/Melville-white-.png"
   srcset="images/Melville-white--p-500.png 500w, images/Melville-white--p-800.png 800w, images/Melville-white-.png 1625w"
   sizes="117.16666412353516px" alt="" class="image-5"></a></div>
<div class="cover section">
 <div class="call cover">
  <div class="container w-container">
   <div class="columns-4 w-row">
    <div class="w-col w-col-6">
     <h1 class="heading-7">Thank You</h1>
     <p class="paragraph-4">We will be touching base soon. Please take some time<br>to share Melville with anyone you
      think would find this useful.</p>
    </div>
    <div class="w-col w-col-6"><img src="images/terms.png" srcset="images/terms.png 500w, images/terms.png 788w"
      sizes="100vw" alt="" class="image-6"></div>
   </div>
  </div>
 </div>
</div>
