<div class="header-nav"><a href="https://www.melville.app" class="link-block w-inline-block"><img
         src="images/melville-white-.png" srcset="images/melville-white-.png, images/melville-white-.png 1625w"
         sizes="117.16666412353516px" alt="" class="image-5"></a></div>
<div class="cover section">
 <div class="call cover">
  <div class="container w-container">
   <div class="columns-4 w-row">
    <div class="w-col w-col-6">
     <h1 class="heading-7">One More thing</h1>
     <p class="paragraph-4">We will be touching base soon. Please take some time to share Melville with anyone you
      think would find this useful.</p>
     <a target="_blank" href="mailto:info@example.com?&subject=&body=https://www.melville.app?ref= Get your show notes created in a matter of minutes for a fraction of the cost of your VA" class="link-block w-inline-block">
      <div class="email"><p>Share via Email</p> <i class="far fa-envelope"></i></div>
     </a>
     <a target="popup" onclick="openFacebook(event);" href="#" class="link-block w-inline-block">
      <div class="facebook"><p>Share via Facebook </p><i class="fab fa-facebook-f"></i></div>
     </a>
     <a target="popup" onclick="openTwitter(event);" href="#"
  data-size="large" class="link-block w-inline-block">
      <div class="twitter"><p>Share via Twitter </p><i class="fab fa-twitter"></i></div>
     </a>
      <div class="link-block w-inline-block"  onclick="copyLink(event)" data-clipboard-text="https://www.melville.app">
         <div class="paste" onclick="copyLink(event)" data-clipboard-text="https://www.melville.app">
            <p>melville.app </p><span class="paste-btn" ><i class="far fa-copy"  onclick="copyLink(event)" data-clipboard-text="https://www.melville.app"></i></span>
         </div>
      </div>
    </div>
    <div class="w-col w-col-6"><img src="images/thank-you-bg.png"
      srcset="images/thank-you-bg.png 500w, images/thank-you-bg.png 800w, images/thank-you-bg.png 1080w, images/thank-you-bg.png 1671w"
      sizes="(max-width: 767px) 100vw, (max-width: 991px) 354px, 460px" alt=""></div>
   </div>
  </div>
 </div>
</div>
