<div class="message-container">
        <div class="col-md-12">
            <h2 class="">Create New Password</h2>
            <h5>Your new password must be different from previous used password</h5>
        </div>
        <form [formGroup]="newPasswordForm">
            <div class="row">
                <div class="col-xs-11">
                    <div class="d-flex justify-content-center">
                        <label>Password *</label>
                        <input formControlName="password" type="password" class="form-control max-width-250" id="password"
                            aria-describedby="emailHelp"
                            [ngClass]="{ 'text-danger': submitted && fNewPassword['password'].errors }"
                            placeholder="Enter new Password">
                        <!-- <span *ngIf="formControls['email'].errors.email"></span> -->
                    </div>
                </div>
                <!--Error-->
                <div class="col-xs-11 mt-4">
                    <div *ngIf="fNewPassword['confirmPassword'].touched && fNewPassword['confirmPassword'].invalid" class="alert alert-danger">
                        <div *ngIf="fNewPassword['confirmPassword'].errors && fNewPassword['confirmPassword'].errors['required']">email is required.
                        </div>
                        <div *ngIf="fNewPassword['confirmPassword'].errors && fNewPassword['confirmPassword'].errors['confirmPassword']">You did not supply a
                            valid
                            email
                            address.</div>
                    </div>
                </div>
                <div class="col-xs-11">
                    <div class="d-flex justify-content-center">
                        <label>Confirm Password *</label>
                        <input formControlName="confirmPassword" type="password" class="form-control max-width-250"
                            id="password" aria-describedby="emailHelp"
                            [ngClass]="{ 'text-danger': submitted && fNewPassword['password'].errors }"
                            placeholder="Re-enter new Password">
                        <!-- <span *ngIf="formControls['email'].errors.email"></span> -->
                    </div>
                </div>
                <div class="col-xs-11 mt-4">
                    <div *ngIf="fNewPassword['password'].touched && fNewPassword['password'].invalid" class="alert alert-danger">
                        <div *ngIf="fNewPassword['password'].errors && fNewPassword['password'].errors['required']">password is
                            required.</div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <button type="button" class="btn" (click)="resetPassword()">
                        Reset password
                    </button>
                </div>
            </div>
        </form>
</div>