.test-window{
  display: flex;
  width:420px;
  max-width: 420px;
  height: 100%;
  position: fixed;
  right:0;
  top:0;
  bottom:0;
  padding:20px;
  
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px, rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  margin:auto;
  height:auto;
  padding-bottom: 50px;
  img{margin-right: 5px;}
  a{ cursor: pointer;}
  
}
