<!--Tabs-->
<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab"
            aria-controls="ex1-tabs-1" aria-selected="true">Login</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2"
            aria-selected="false">Signup</a>
    </li>
</ul>
<div class="tab-content" id="ex1-content">
    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
        <!--Login-->
        <div class="message-container">
            <ng-container *ngIf="isLoginSection">
                <div class="col-md-12">
                    <h2 class="heading col-md-6 mb-4">Login</h2>
                </div>
                <form [formGroup]="loginForm">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12">
                            <div class="d-flex justify-content-center">
                                <input formControlName="email" type="email" class="form-control max-width-250"
                                    id="email" aria-describedby="emailHelp"
                                    [ngClass]="{ 'text-danger': submitted && fLogin['email'].errors }"
                                    placeholder="Email Address">
                                <!-- <span *ngIf="formControls['email'].errors.email"></span> -->
                            </div>
                        </div>
                        <!--Error-->
                        <div class="col-xs-12 col-md-12 col-sm-12 mt-4">
                            <div *ngIf="fLogin['email'].touched && fLogin['email'].invalid" class="alert alert-danger">
                                <div *ngIf="fLogin['email'].errors && fLogin['email'].errors['required']">email is required.</div>
                                <div *ngIf="fLogin['email'].errors && fLogin['email'].errors['email']">You did not supply a valid
                                    email
                                    address.</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12">
                            <div class="d-flex justify-content-center">
                                <input formControlName="password" type="password" class="form-control max-width-250"
                                    id="password" aria-describedby="emailHelp"
                                    [ngClass]="{ 'text-danger': submitted && fLogin['password'].errors }"
                                    placeholder="Password">
                                <!-- <span *ngIf="formControls['email'].errors.email"></span> -->
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12 mt-4">
                            <div *ngIf="fLogin['password'].touched && fLogin['password'].invalid" class="alert alert-danger">
                                <div *ngIf="fLogin['password'].errors && fLogin['password'].errors['required']">password is required.</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12 mt-4">
                            <button type="button" class="btn" (click)="login()">
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </ng-container>
            <ng-container *ngIf="!isLoginSection">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-danger col-md-6">Success</h2>
                    </div>
                    <div class="col-md-12 d-flex succ-text">
                        We sent you a link to your email to login to your dashboard
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
        <!--Signup-->

        <div class="message-container">
            <ng-container *ngIf="isLoginSection">
                <div class="col-md-12">
                    <h2 class="heading col-md-6 mb-4">Signup</h2>
                </div>
                <form [formGroup]="signupForm">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12">
                            <div class="d-flex justify-content-center">
                                <input formControlName="email" type="email" class="form-control max-width-250"
                                    id="email" aria-describedby="emailHelp"
                                    [ngClass]="{ 'text-danger': submitted && fSignup['email'].errors }"
                                    placeholder="Email Address">
                                <!-- <span *ngIf="formControls['email'].errors.email"></span> -->
                            </div>
                        </div>
                        <!--Error-->
                        <div class="col-xs-12 col-md-12 col-sm-12 mt-4">
                            <div *ngIf="fSignup['email'].touched && fSignup['email'].invalid" class="alert alert-danger">
                                <div *ngIf="fSignup['email'].errors && fSignup['email'].errors['required']">email is required.</div>
                                <div *ngIf="fSignup['email'].errors && fSignup['email'].errors['email']">You did not supply a valid
                                    email
                                    address.</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12">
                            <div class="d-flex justify-content-center">
                                <input formControlName="password" type="password" class="form-control max-width-250"
                                    id="password" aria-describedby="emailHelp"
                                    [ngClass]="{ 'text-danger': submitted && fSignup['password'].errors }"
                                    placeholder="Password">
                            </div>
                            <div class="col-xs-12 col-md-12 col-sm-12 mt-4">
                                <div *ngIf="fSignup['password'].touched && fSignup['password'].invalid" class="alert alert-danger">
                                    <div *ngIf="fSignup['password'].errors && fSignup['password'].errors['required']">password is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12">
                            <div class="d-flex justify-content-center">
                                <input formControlName="fullName" type="text" class="form-control max-width-250"
                                    id="fullName" aria-describedby="fullNameHelp"
                                    [ngClass]="{ 'text-danger': submitted && fSignup['fullName'].errors }"
                                    placeholder="Full Name">
                                <!-- <span *ngIf="formControls['email'].errors.email"></span> -->
                            </div>
                            <div class="col-xs-12 col-md-12 col-sm-12 mt-4">
                                <div *ngIf="fSignup['fullName'].touched && fSignup['fullName'].invalid" class="alert alert-danger">
                                    <div *ngIf="fSignup['fullName'].errors && fSignup['fullName'].errors['required']">Full name is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12 mt-4">
                            <button type="button" class="btn" (click)="signup()">
                                Sign up
                            </button>
                        </div>
                    </div>
                </form>
            </ng-container>
            <ng-container *ngIf="!isLoginSection">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-danger col-md-6">Success</h2>
                    </div>
                    <div class="col-md-12 d-flex succ-text">
                        We sent you a link to your email to login to your dashboard
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>