<!--Login-->

<div class="message-container">
    <h2 class="text-center col-md-6">Login</h2>
    <form [formGroup]="loginForm">
    <div class="row">
        <div class="col-md-12 d-flex text-center">
            <div class="col-xs-6 col-sm-6">
                <div class="d-flex justify-content-center">
                    <input formControlName="email"  type="email" class="form-control max-width-250" id="email"
                        aria-describedby="emailHelp" [ngClass]="{ 'text-danger': submitted && f['email'].errors }" placeholder="Email Address">
                    <!-- <span *ngIf="formControls['email'].errors.email"></span> -->
                </div>
            </div>
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">email is required.</div>
                <div *ngIf="f['email'].errors && f['email'].errors['email']">email should be 3 character.</div>
            </div>
            <!-- <alert type="success" *ngIf="formControls['email'].errors?.email">
                <strong>Well done!</strong> You successfully read this important alert message.
            </alert> -->

        </div>
        <div class="col-md-12 d-flex text-center">
            <div class="col-xs-6 col-sm-6 mt-3">
                <button type="button" class="btn btn-danger" (click)="login()">
                    Login with Magic Link
                </button>
            </div>
        </div>
        <ng-container *ngIf="isErr">
            <alert type="danger">
                <strong>Oh snap!</strong> Change a few things up and try submitting again.
              </alert>
            </ng-container>
            <ng-container *ngIf="isSuccess">
            
              <alert type="success">
                <strong>Well done!</strong> You successfully read this important alert message.
              </alert>
            </ng-container>
        
    </div>
    </form>
</div>