

.loginLink {
    text-decoration: none;
    color: #59a263;
    font-weight: 600;
}

.succ-text {
    font-weight: 500;
    font-size: 20px;
}


input {
    border: 2px solid #4e81e9;
}

.heading {
    color: #000000;
}

.btn {
    width: 100%;
    background-color: #4e81e9;
    color: #fff;
}
