<div class="container">
    <ng-container *ngIf="!isPasswordReset">
        <div class="col-xs-12">
            <h2 class="">Forgot Password</h2>
            <h5>A link to the reset password page will be sent to the email address you used to sign up. <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a></h5>
        </div>
        <form [formGroup]="forgotPasswordForm">
            <div class="row">
                <div class="col-xs-11">
                    <div class="d-flex justify-content-center">
                        <label>Email</label>
                        <input formControlName="email" type="email" class="form-control max-width-250" id="email"
                            aria-describedby="emailHelp"
                            [ngClass]="{ 'text-danger': submitted && fForgotPassword['email'].errors }"
                            placeholder="Enter your email">
                        <!-- <span *ngIf="formControls['email'].errors.email"></span> -->
                    </div>
                </div>
                <!--Error-->
                <div class="col-xs-11 mt-4">
                    <div *ngIf="fForgotPassword['email'].touched && fForgotPassword['email'].invalid" class="alert alert-danger">
                        <div *ngIf="fForgotPassword['email'].errors && fForgotPassword['email'].errors['required']">email is required.
                        </div>
                        <div *ngIf="fForgotPassword['email'].errors && fForgotPassword['email'].errors['email']">You did not supply a
                            valid
                            email
                            address.</div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <button type="button" class="btn" (click)="forgotPassword()">
                        Reset password
                    </button>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="isPasswordReset">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="">Forgot Password</h2>
                <h5>A code has been sent to your email enter below.</h5>
            </div>
            <div class="col-xs-12">
                <form [formGroup]="verifyPasswordForm">
                    <div class="row">
                        <div class="col-xs-11">
                            <div class="d-flex justify-content-center">
                                <label>Verification Number</label>
                                <input type='number'min=6 max="6" formControlName="resetNumber"  class="form-control max-width-250" id="resetNumber"
                                    aria-describedby="emailHelp"
                                    [ngClass]="{ 'text-danger': submitted && fForgotPassword['resetNumber'].errors }"
                                    placeholder="Enter verification code">
                                <!-- <span *ngIf="formControls['email'].errors.email"></span> -->
                            </div>
                        </div>
                        <!--Error-->
                        <div class="col-xs-11 mt-4">
                            <div *ngIf="fverifyPassword['resetNumber'].touched && fverifyPassword['resetNumber'].invalid"
                                class="alert alert-danger">
                                <div *ngIf="fverifyPassword['resetNumber'].errors && fverifyPassword['resetNumber'].errors['required']">code is
                                    required.
                                </div>
                                <div *ngIf="fverifyPassword['resetNumber'].errors && fverifyPassword['resetNumber'].errors['resetNumber']">You did not
                                    supply a valid
                                    code.</div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <button type="button" class="btn" (click)="verifyCode()">
                                Verify Code
                            </button>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn" [routerLink]="'/login'">
                    Back to Log-in
                </button>
            </div>
        </div>
    </ng-container>
    <ng-container  *ngIf="errorMessage">
        <div class="error">
            <h5 class="text-danger">{{errorMessage}}</h5>
        </div>
    </ng-container>
</div>