<div class="message-container">
    <ng-container *ngIf="!isPasswordReset">
        <div class="col-md-12">
            <h2 class="">Forgot Password</h2>
            <h5>A link to the reset password page will be sent to the email address you used to sign up. <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a></h5>
        </div>
        <form [formGroup]="forgotPasswordForm">
            <div class="row">
                <div class="col-xs-11">
                    <div class="d-flex justify-content-center">
                        <label>Email</label>
                        <input formControlName="email" type="email" class="form-control max-width-250" id="email"
                            aria-describedby="emailHelp"
                            [ngClass]="{ 'text-danger': submitted && fForgotPassword['email'].errors }"
                            placeholder="Enter your email">
                        <!-- <span *ngIf="formControls['email'].errors.email"></span> -->
                    </div>
                </div>
                <!--Error-->
                <div class="col-xs-11 mt-4">
                    <div *ngIf="fForgotPassword['email'].touched && fForgotPassword['email'].invalid" class="alert alert-danger">
                        <div *ngIf="fForgotPassword['email'].errors && fForgotPassword['email'].errors['required']">email is required.
                        </div>
                        <div *ngIf="fForgotPassword['email'].errors && fForgotPassword['email'].errors['email']">You did not supply a
                            valid
                            email
                            address.</div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <button type="button" class="btn" (click)="forgotPassword()">
                        Reset password
                    </button>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="isPasswordReset">
        <div class="row">
            <div class="col-md-12">
                <h2 class="">Forgot Password</h2>
                <h5>A password reset link has been sent to email address provided</h5>
            </div>
            <div class="col-xs-12">
                <button type="button" class="btn" [routerLink]="'/login'">
                    Back to Log-in
                </button>
            </div>
        </div>
    </ng-container>
</div>