<div class="message-container">
    <ng-container *ngIf="isLoginSection">
        <div class="col-md-12">
            <h2 class="">Forgot Password</h2>
            <h5>A link to the reset password page will be sent to the email address you used to sign up. <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a></h5>
        </div>
        <form [formGroup]="loginForm">
            <div class="row">
                <div class="col-xs-11">
                    <div class="d-flex justify-content-center">
                        <label>Email</label>
                        <input formControlName="email" type="email" class="form-control max-width-250" id="email"
                            aria-describedby="emailHelp"
                            [ngClass]="{ 'text-danger': submitted && fLogin['email'].errors }"
                            placeholder="Email Address">
                        <!-- <span *ngIf="formControls['email'].errors.email"></span> -->
                    </div>
                </div>
                <!--Error-->
                <div class="col-xs-11 mt-4">
                    <div *ngIf="fLogin['email'].touched && fLogin['email'].invalid" class="alert alert-danger">
                        <div *ngIf="fLogin['email'].errors && fLogin['email'].errors['required']">email is required.
                        </div>
                        <div *ngIf="fLogin['email'].errors && fLogin['email'].errors['email']">You did not supply a
                            valid
                            email
                            address.</div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <button type="button" class="btn" (click)="login()">
                        Reset password
                    </button>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="!isLoginSection">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-danger col-md-6">Success</h2>
            </div>
            <div class="col-md-12 d-flex succ-text">
                We sent you a link to your email to login to your dashboard
            </div>
        </div>
    </ng-container>
</div>