<div class="container">
    <ng-container *ngIf="isAgentSection">
        <div class="col-xs-12">
            <h2 class="heading col-xs-6 mb-4">Add Agent</h2>
        </div>
        <div class="col-xs-12">
            <form [formGroup]="addAgentForm">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="d-flex justify-content-center">
                            <input type="text" formControlName="companyName" class="form-control max-width-250"
                                id="companyName" aria-describedby="Company Name" placeholder="Company #">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="d-flex justify-content-center">
                            <input type="text" formControlName="agentName" class="form-control max-width-250" id="agentName"
                                aria-describedby="Agent Name" placeholder="Agent Name">
                        </div>
                    </div>
                    <!--Error Company name-->
                    <div class="col-xs-12">
                        <div *ngIf="f['companyName'].touched && f['companyName'].invalid" class="alert alert-danger">
                            <div *ngIf="f['companyName'].errors && f['companyName'].errors['required']">Company Name is
                                required.</div>
                        </div>
                    </div>
                    <!--Error Agent name-->
                    <div class="col-xs-12">
                        <div *ngIf="f['agentName'].touched && f['agentName'].invalid" class="alert alert-danger">
                            <div *ngIf="f['agentName'].errors && f['agentName'].errors['required']">Agent Name is
                                required.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 mt-4">
                        <div class="col-xs-12d-flex justify-content-end">
                            <button type="button" class="btn" (click)="signup()">
                                Add Agent
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-12 d-flex justify-content-end">
                        <div class="col-xs-12">
                            <a class="loginLink" [routerLink]="['/login']">Login</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-container>

    <ng-container *ngIf="!isAgentSection">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-danger col-xs-6">Success</h2>
            </div>
            <div class="col-xs-12 d-flex succ-text">
                We sent you a welcome email to get started with QAScore.com
            </div>
        </div>
    </ng-container>
</div>