.w-100 {
    width: 100%;
}
.single-flex{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
label{
    width: 100%;
    text-align: left;
}
textarea {
    border: 2px solid #4e81e9;
    min-width: 98%;
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Roboto Flex';
    font-weight: 400;
}

.emoji {
    padding-right: 10px;
    padding-left: 0;
}

.char-limit {
    padding-left: 10px;
    padding-right: 0;
}

input[type=text] {
    background-color: #f7f7f7;
    width: 85% !important;
    height: 10px;
}
.success {
    color: green;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 10px;
}
.d-flex {
    display: flex;
    align-items: flex-start;
}

.m-top-20 {
    margin-top: 20px;
}
small.stats {
    margin: 5px;
    padding: 8px;
    background: rgb(234, 255, 195);
    border-radius: 10px;
    display: flex;
    width: auto;
}
small.summary {
    width: 100%;
    color: #7c7c7c;
    font-style: italic;
}
.drop-down1 {
    position: relative;
    padding: 12px 15px;
    background-color: #f7f7f7;
    border-radius: 4px;
    font-size: 16px;
    color: #7c7c7c;
    display: flex;
    justify-content: space-between;
}
.drop-down-list {
    width: 100%;
    left: 0px;
    top: 43px;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    z-index: 100;
}
.drop-down-list li {
    padding: 12px 15px;
    border-bottom: 1px solid #f2f2f2;
    background-color: #ececec;
    font-size: 16px;

}
.drop-down1:hover, .drop-down-list{
    cursor: pointer;
}

.btn-rotate {
    background: white;
    color: #2D5DE7;
}
.square-load{
    position: relative;
    width: 100%;
    min-height: 130px;
    background-color: #f7f7f7;
    border-radius: 8px;
}
.spinner {
    position: absolute;
    margin:auto;
    left:0;right:0;top:0;bottom:0;
    width: 56px;
    height: 56px;
    display: grid;
    animation: spinner-plncf9 4s infinite;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    border: 9px solid;
    border-radius: 50%;
    border-color: #474bff #474bff #0000 #0000;
    mix-blend-mode: darken;
    animation: spinner-plncf9 1s infinite linear;
}

.spinner::after {
    border-color: #0000 #0000 #dbdcef #dbdcef;
    animation-direction: reverse;
}

@keyframes spinner-plncf9 {
    100% {
        transform: rotate(1turn);
    }
}
.error-msg {
    border: 1px solid red;
    background-color: rgb(249, 194, 194);
    padding: 10px;
    border-radius: 4px;
    color: darkred;
    margin-top: 10px;
}