.btn {
    width: 100%;
    background-color: #4e81e9;
    color: #fff;
}

.max-width-250 {
    max-width: 95%;
    border: 2px solid #4e81e9;
}

#button-basic {
    width: 158px;
    border: 2px solid #4e81e9;
}

textarea {
    border: 2px solid #4e81e9;
    min-width: 100%;
}

.icon-user {
    position:relative;
    top: 3px;
    left: -25px;
    color: #0afb7ce6;
}